/*--------------------------------------------------------------
	Styles Tree
----------------------------------------------------------------
# Styles Generales
# Preloader
# Header
	## Main Menu
	## Mobile Menu
# About Us
# Services
# Parallax 1
# Products
# Parallax 2
# Testimonials
# Contact Us
# Footer
--------------------------------------------------------------*/


/*==================/  # Styles Generales  /==================*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #f7f7f7;
}


/*==================/  # Preloader  /==================*/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #fff;
	z-index: 10;
}
#preloader > img {
	height: 70px;
	animation-duration: 2s;
}
#preloader > p {
	margin-top: 10px;
	font-size: 20px;
}
h2 {
	font-size: 2.5rem;
}

/*==================/  # Header  /==================*/
.header {
	position: relative;
	height: 100vh;
	background: url('../img/hero.jpg') center / cover fixed;
	background-position: 0,0;
}
@media (max-width: 990px) {
	.header {
		background-position: 0,0!important;
	}
}

/*======/  ## Main Menu  /======*/
#main_nav {
	position: fixed;
	width: calc(100% - 30px);
	margin: 15px;
	padding: 10px 30px;
	background: #fff;
	color: white;
	border-radius: 5px;
	text-align: right;
	font-family: sans-serif;
	z-index: 3;
	box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all ease 0.8s;
}
.main_menu {
	width: 100%;
	height: 50px;
}
.logo{
	height: 50px;
	color: white;
	float: left;
}
.main_menu li {
	display: inline-block;
	margin-right: 5px;
	list-style: none;
}
.main_menu ul {
	margin: 0;
}
.main_menu li a {
	display: block;
	padding: 15px 10px;
	color: #03a9f4;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

/*======/  ## Mobile Menu  /======*/
#mobile_menu {
	display: none;
	text-align: left;
}
#mobile_menu ul {
	margin-top: 20px;
	list-style: none;
}
#mobile_menu li {
	padding-top: 10px;
	padding-left: 15px;
}
#mobile_menu li a {
	color: #03a9f4;
	font-weight: bold;
}
#mobile_menu li a:hover {
	text-decoration: none;
}
#btn_mobile {
	position: relative;
	height: 35px;
	width: 35px;
	padding: 25px 0;
	float: right;
	overflow: hidden;
}
#btn_mobile span {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 5px;
	height: 3px;
	width: 24px;
	margin-top: -2px;
	background: #000000;
}
#btn_mobile span:before {
	top: -8px;
}
#btn_mobile span:after {
	top: 8px;
}
#btn_mobile span:before, #btn_mobile span:after {
	position: absolute;
	display: inline-block;
	height: 3px;
	width: 24px;
	background: #000000;
	content: '';
	right: 0;
	/*
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	*/
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	-ms-transform-origin: 0% 50%;
	-o-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
#btn_mobile.nav-is-visible span {
	background: transparent;
}
#btn_mobile.nav-is-visible span:before {
	-webkit-transform: translateX(4px) translateY(-1px) rotate(45deg);
	-moz-transform: translateX(4px) translateY(-1px) rotate(45deg);
	-ms-transform: translateX(4px) translateY(-1px) rotate(45deg);
	-o-transform: translateX(4px) translateY(-1px) rotate(45deg);
	transform: translateX(4px) translateY(-1px) rotate(45deg);
}
#btn_mobile.nav-is-visible span:after {
	-webkit-transform: translateX(4px) translateY(0px) rotate(-45deg);
	-moz-transform: translateX(4px) translateY(0px) rotate(-45deg);
	-ms-transform: translateX(4px) translateY(0px) rotate(-45deg);
	-o-transform: translateX(4px) translateY(0px) rotate(-45deg);
	transform: translateX(4px) translateY(0px) rotate(-45deg);
}

.main_title {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.main_title > div {
	max-width: 500px;
	padding: 0 20px;
}
.main_title > div > img {
	width: 100%;
}


/*==================/  # About Us  /==================*/
.about_us {
	padding-top: 80px;
	padding-bottom: 50px;
	background: #009688;
	color: #fff;
	overflow: hidden;
	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.4);
}
.about_us .info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: justify;
}
.img_about_us {
	width: 100%;
	border-radius: 0 30px;
}

.frequent {
	position: relative;
	margin: 60px 0;
	padding: 40px 20px;
	background: #fff;
	color: black;
	border-radius: 10px;
	text-align: center;
	justify-content: space-evenly;
	box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.4);
}
.frequent .adorno1 {
	position: absolute;
	top: -35px;
	left: -35px;
	width: 100px;
}


/*==================/  # Services  /==================*/
section.services {
	padding: 100px 0;
	overflow: hidden;
}
.services .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.services .info h3 {
	text-align: center;
}
.services .info p {
	text-align: justify;
}
#image {
	transition: all ease 2s;
	transform: perspective(400px) rotateY(0deg) rotateX(15deg) translateX(0) translateY(10px);
}
#image2 {
	transition: all ease 2s;
	transform: perspective(400px) rotateY(0deg) rotateX(15deg) translateX(0) translateY(10px);
}

@media (max-width: 767px) {
	#position_img1, #position_img2 {
		max-width: 400px;
		margin: 0 auto;
	}
}


/*==================/  # Parallax 1  /==================*/
.parallax1 {
	padding: 50px 0;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/parallax1.jpg) center / cover fixed;
	color: #fff;
}


/*==================/  # Products  /==================*/
.products {
	padding: 100px 0;
	background: #f7f7f7;
	overflow: hidden;
	position: relative;
}
.products > div > h2.title {
	margin: 0;
	text-align: center;
}
.products #pdt2 {padding-top: 100vh;}
.products #pdt3 {padding-top: 200vh;}
.products #pdt4 {padding-top: 300vh;}

.pro_container {
	position: relative;
	height: 500px;
	padding-top: 90px;
}
.pro_container > div > div {
	position: relative;
    height: 250px;
    padding: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.pro_container > div > div > h3{
	color: #967a70;
}

.pro_container  div.img {
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	transition: all ease .5s;
}
.pro_container  div.img > img {
	width: 100%;
}

.products > div > h2.title.fixed {
	position: fixed;
    top: 100px;
    width: 100%;
}
#pdt1.fixed, #pdt2.fixed, #pdt3.fixed {
	position: fixed;
    top: 148px;
    width: 100%;
    padding: 0;
}
.products .fixed .img {
	transform: translateY(50%);
}
.products > div > h2.title.down {
	position: absolute;
	top: calc(300vh + 52px);
    width: 100%;
}
#pdt1.down, #pdt2.down, #pdt3.down {
	position: absolute;
    top: calc(300vh + 100px);
    width: 100%;
    padding: 0;
}

@media (max-width: 767px) {
	.products > div > h2.title.fixed,
	.products > div > h2.title.down {
		position: relative;
	    top: 0;
	}
	.pro_container {
		height: auto;
		padding-top: 80px;
	}
	.pro_container > div {
		max-width: 300px;
    	margin: 0px auto;
		margin-bottom: 150px;
	}
	.pro_container  div.img {
		transform: translateY(50%);
	}
}



/*==================/  # Parallax 2  /==================*/
.parallax2 {
	height: 350px;
	background: #f7f7f7;
	overflow: hidden;
}
.parallax2 > div#background {
	position: relative;
	left: 100vw;
	height: 100%;
	width: 1000vw;
	background: url(../img/parallax2.png) left top / auto;
	transition: all ease .3s;
}


/*==================/  # Testimonials  /==================*/
.testimonials {
	padding-top: 100px;
	padding-bottom: 200px;
	background: #f7f7f7;
	overflow: hidden;
}
.testimonials > .container > h2 {
	margin-bottom: 100px;
	text-align: center;
	z-index: 1;
}
.testimonials div.profile {
	position: relative;
	padding: 10px;
	background: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 50%;
}
.testimonials div.profile > img{
	width: 100%;
	border-radius: 50%;
}
.testimonials div.profile > h3 {
	position: absolute;
	bottom: -50px;
	left: 50%;
	width: max-content;
	color: #03A9F4;
	transform: translateX(-50%);
}

.testimonial {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.testimonial > div {
	padding: 60px;
	background: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 10px;
}

.testimonial > div span.left{
	position: relative;
	top: -8px;
	left: -3px;
}
.testimonial > div span.right{
	position: relative;
	bottom: -8px;
	right: -3px;
}

@media (min-width: 500px) and (max-width: 767px) {
	.testimonials div.profile {
		margin: 100px;
	}
}

@media (max-width: 990px) {
	.testimonial > div{
		padding: 20px;
	}
}
@media (max-width: 499px) {
	.testimonial {
		margin-top: 80px;
	}
}


/*==================/  # Contact Us  /==================*/
section.contact_us {
	padding: 60px 0;
	background: #f7f7f7;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/contactanos.jpg) center / cover;
	overflow: hidden;
}
.contact_us > .container > h2 {
	text-shadow: 0 3px 10px black;
}
.contact_us > .container > p {
	text-shadow: 0 3px 10px black;
}

.info_contact {
	display: block;
	width: 310px;
	margin: 0 auto;
	padding: 20px 40px;
	background: #fff;
	color: #5f5f5f;
	border-radius: 20px;
}
.info_contact > p > span {
	display: inline-block;
	width: 30px;
	margin-right: 10px;
	color: #22b3f5;
	font-size: 25px;
	text-align: center;
}
.socials {
	display: block;
	width: 310px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}
.socials ul {
	list-style: none;
}
.socials ul li {
	display: inline-block;
}
.socials ul li a {
	display: flex;
	width: 50px;
	height: 50px;
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.socials ul li a span {
	transition: all ease 1s;
	transform: rotate(0deg);

}
.socials ul li a:hover span {
	transform: rotate(360deg);
	transition: all ease .3s;
}
.socials a.facebook {
	background: #3B5998;
}
.socials a.instagram {
	background: #E91E63;
}
.socials a.twitter {
	background: #33ccff;
}
.socials a.pinterest {
	background: #c71d1d;
}

.contact_form {
	position: relative;
	padding: 50px;
	background: white;
	border-radius: 20px;
}
.contact_form .img3 {
	position: absolute;
	top: -18px;
	right: -20px;
	width: 70px;
}
.contact_form #img2 {
	position: absolute;
	top: -30px;
	left: -30px;
	width: 70px;
	transition: all ease .5s;
}
.contact_form input,
.contact_form textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 20px;
	padding-left: 30px;
	color: #495057;
	border: 2px solid #e4e4e4;
	border-radius: 10px;
}
.contact_form textarea {
	max-height: 150px;
	min-height: 150px;
}
.contact_form input:focus,
.contact_form textarea:focus,
.contact_form button {
	outline: none;
}
.contact_form button {
	width: 100%;
	padding: 5px;
	background: #19b0f5;
	color: #fff;
	border: 1px solid #19b0f5;
	border-radius: 10px;
	transition: all ease .3s;
}
.contact_form button:hover {
	background: #2196F3;
}


/*==================/  # Footer  /==================*/
footer {
	padding: 30px;
	background: #009688;
	color: #fff;
}
footer p.copyright {
	margin: 0;
	text-align: center;
}
footer span {
	display: inline-block;
}