/*--------------------------------------------------------------
	Styles Tree
----------------------------------------------------------------
# Styles Generales
# Preloader
# Button Up
# About Me
	## Profile Info
	## Skills
# Services
# Parallax
# Portfolio
# Contact Me
	## Footer
--------------------------------------------------------------*/


/*==================/  # Styles Generales  /==================*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #f5f5f5;
}
h2 {
	margin-bottom: 6rem;
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
h2:after {
	content: '';
	display: block;
	position: relative;
	bottom: -10px;
	height: 5px;
	width: 100px;
	margin: 0 auto;
	background-color: #0078ff;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}


/*==================/  # Preloader  /==================*/
#preloader {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: #2196F3;
	align-items: center;
	justify-content: center;
	z-index: 5;
}
#preloader > img {
	width: 60px;
}


/*==================/  # Button Up  /==================*/
#btn_up {
	display: block;
    position: fixed;
    right: -47px;
    bottom: 20px;
    height: 45px;
    width: 45px;
    transition: all ease .3s;
    z-index: 3;
}
#btn_up img {
	width: 100%;
}
#btn_up.active {
	right: 20px;
}


/*==================/  # About Me  /==================*/
.about_me {
	padding: 60px 0;
}
.about_me .profile {
	margin-bottom: 60px;
}
.about_me .profile .img {
    max-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    border-radius: 50%;
    border: 2px solid #e8e8e8;
}
.about_me .profile .img img{
	width: 100%;
    border-radius: 50%;
    border: 5px solid #ffffff;
}
.about_me  .profile .name {
	display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.about_me .profile .name h3 {
    display: inline-block;
    width: fit-content;
    background: #94a9b3;
    color: #fff;
    padding: 2px 20px;
	font-size: 2.5rem;
    border-radius: 10px 50px 50px 10px;
}
@media (max-width: 767px) {
	.about_me .profile .name h3 {
		font-size: 28px;
	}
}
@media (max-width: 575px) {
	.about_me  .profile .name {
		margin-top: 10px;
	}
	.about_me .profile .name h3 {
		margin: 0 auto;
    	margin-bottom: 8px;
		font-size: 2rem;
	}
}

/*======/  ## Profile Info  /======*/
.about_me .profile_info {
    padding: 10px;
	background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.2);
}
.about_me .profile_info > h3{
    margin-bottom: 20px;
}
.about_me .profile_info > h3:after {
	content: '';
    display: block;
    height: 3px;
    width: 90px;
    margin-top: 5px;
    background: #2196F3;
}
.about_me .profile_info > p {
    font-size: 20px;
}

/*======/  ## Skills  /======*/
.about_me .skills {
    padding: 10px;
	background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.about_me .skills h3 {
	margin-bottom: 20px;
}
.about_me .skills h3:after {
	content: '';
    display: block;
    height: 3px;
    width: 90px;
    margin-top: 5px;
    background: #2196F3;
}
.about_me .skill {
	margin-bottom: 5px;
}
.about_me .skill .name {
	font-size: 20px;
}
.about_me .skill .tag {
	display: inline-block;
    width: 92px;
    padding: 2px 5px;
    background: #03A9F4;
    color: #fff;
    border-radius: 5px;
    float: right;
    text-align: center;
    font-weight: 500;
    user-select: none;
}


/*==================/  # Services  /==================*/
.services {
	padding: 30px 0;
}
.services .service  {
	margin-bottom: 3rem;
	padding: 15px 36px;
}
.services .service > img {
	display: block;
	width: 100%;
	max-width: 310px;
	margin: 0 auto;
}
.services .service > h3 {
	margin-top: 20px;
	text-align: center;
}
.services .service > p {
	color: #607D8B;
	text-align: center;
	font-size: 18px;
	text-transform: capitalize;
}


/*==================/  # Parallax  /==================*/
.parallax {
	padding: 50px 0;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/parallax.jpg) center / cover fixed;
	color: #fff;
}


/*==================/  # Portfolio  /==================*/
.portfolio {
	padding: 60px 0;
}
.portfolio .work {
	max-width: 350px;
	margin: 0 auto;
	margin-bottom: 3rem;
	background-color: #fff;
	box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.15);
}
.portfolio .work_img {
	overflow: hidden;
}
.portfolio .work_img img {
	width: 100%;
	overflow: hidden;
	transition: all ease 1s;
}
.portfolio .work_img img:hover  {
	transform: scale(1.3);
}
.work_content {
	padding: 10px;
	padding-top: 30px;
}
.work_content h3 {
	margin-bottom: 15px;
	font-size: 20px;
}
.work_content .tags {
	color: #4e4e4e;
	font-size: 13px;
}
.work_content .tags > span {
	display: inline-block;
	margin-bottom: 5px;
	padding: 5px 10px;
	background: #2196F3;
	color: #fff;
	border-radius: 20px;
	font-weight: bold;
	user-select: none;
}
.work_content .tags a {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
	background: #4CAF50;
	color: #fff;
	font-size: 15px;
	border-radius: 5px;
	float: right;
}
.work_content .tags > div:after {
	content: '';
	display: block;
	clear: both;
}


/*==================/  # Contact Me  /==================*/
.contact_me {
	padding-top: 60px;
	background: #fff;
	border-top: 2px solid #e6e6e6;
}
.contact_me h3 {
	margin-bottom: 1.5em;
	font-size: 2rem;
}
.contact_me h3:after {
	content: '';
	display: block;
	position: relative;
	bottom: -10px;
	height: 3px;
	width: 100px;
	background-color: #0078ff;
}
.contact_me .form_contact input,
.contact_me .form_contact textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 20px;
	color: #495057;
	border: 2px solid #ced4da;
	border-radius: 5px;
	transition: all ease .3s;
}
.contact_me .form_contact textarea {
	max-height: 150px;
	min-height: 150px;
}
.contact_me .form_contact input:focus,
.contact_me .form_contact textarea:focus,
.contact_me .form_contact button {
	outline: none;
}
.contact_me .form_contact input.wrong,
.contact_me .form_contact textarea.wrong {
	border: 2px solid #F44336;
}
.contact_me .form_contact button {
	padding: 10px 15px;
	background: #2196F3;
	color: #fff;
	border: 0;
	transition: all ease .3s;
	border-radius: 25px;
	font-weight: bold;
	transition: all ease .3s;
}
.contact_me .form_contact button:hover {
	background: #03A9F4;
}
.contact_me img {
	display: block;
	width: 100%;
	max-width: 540px;
	margin: 0 auto;
}

/*======/  ## Footer  /======*/
.contact_me footer > p {
	margin: 0;
	padding-bottom: 40px;
	text-align: center;
	color: #607D8B;
}
.contact_me footer .social {
	margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
}
.contact_me footer .social a {
	display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 2px;
}
.contact_me footer .social a img {
    position: relative;
    top: 0;
    width: 100%;
    transition: all ease .3s;
}
.contact_me footer .social a:hover img {
    top: -10px;
}


