/*--------------------------------------------------------------
	Styles Tree
----------------------------------------------------------------
# Styles Generales
# Preloader
# Header
	## Main Menu
	## Mobile Menu
# Hero
# About Us
# Parallax 1
# Services
# Parallax 2
# Team
# Contact Us
# Footer
--------------------------------------------------------------*/


/*==================/  # Styles Generales  /==================*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*==================/  # Preloader  /==================*/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-content: center;
	justify-content: center;
	background: #607D8B;
	z-index: 3;
}
#preloader > img {
	width: 50px;
}


/*==================/  # Header  /==================*/
header {
	position: fixed;
	padding: 15px 0;
	transition: all .5s;
	z-index: 2;
}
.header{
	padding: 0px 0;
	background: rgba(52, 59, 64, 0.9);
}

/*======/  ## Main Menu  /======*/
.main_menu {
	width: 100vw;
	padding: 10px 30px;
	color: white;
	font-family: sans-serif;
}
.logo {
	height: 50px;
}
.main_menu .nav {
	margin: 0;
    float: right;
}
.main_menu li {
	display: inline-block;
	margin-right: 5px;
	list-style: none;
}
.main_menu li a {
	text-decoration: none;
	color: white;
	padding: 15px 10px;
	display:block;
	font-size: 14px;
	position: relative;
}
.main_menu li a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #2dc997;

	transform: scaleX(0);
	transition: all ease 0.5s;
}
.main_menu li:hover a:before {
	transform: scaleX(1);
}
.btn_mobile_menu {
	padding: 7px;
	font-size: 25px;
	cursor: pointer;
	width: 36px;
	float: right;
}

/*======/  ## Mobile Menu  /======*/
.mobile_menu .background {
	display: none;
	position: fixed;
	background: rgba(52, 59, 64, 0.9);
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	z-index: 2;
}
.mobile_menu .nav {
	text-align: left;
	padding: 20px 10px;
	background: rgb(52, 59, 64);
	width: 260px;
	height: 100vh;
	position: fixed;
	z-index: 2;
	top: 0;
	left: -260px;
	transition: all ease .3s;
}
.mobile_menu .nav li {
	display: block;
}
.mobile_menu .nav li a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	font-family: sans-serif;
}


/*==================/  # Hero  /==================*/
.hero {
	background: url(../img/hero.jpg) top center fixed;
	background-size: cover;
	overflow: hidden;
}
.hero_container {
	background-color: rgba(0,0,0,0.4);
	height: 100vh;
	width: 100vw;

	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}
.hero_container > h1{
	font-size: 55px;
	margin-bottom: 10px;
}
.hero_container > p {
	position: relative;
}
.hero #text_animation {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 25px;
}
.hero #text_animation.morphext {
	display: block;
}
.hero #text_animation > .animated {
	display: inline-block;
}
.btn_start {
	display: inline-block;
	margin-top: 80px;
	padding: 4px 28px;
	border: 2px solid white;
	border-radius: 25px;
	text-decoration: none!important;
	font-size: 20px;
	transition: all 0.5s ease;
	color: white!important;
}
.btn_start:hover {
	background-color: #2dc997;
	border: 2px solid #2dc997;
	color: white;
	text-decoration: none;
}


/*==================/  # About Us  /==================*/
.container_nos {
	padding: 80px 20px;
	overflow: hidden;
	align-items: center;
}
.container_nos div.clearfix {
	margin-bottom: 10px;
}
.img_nos {
	overflow: hidden;
	text-align: center;
}
@media (min-width: 768px) {
	.img_nos > img {
		height: 400px;
	}
}
@media (max-width: 767px) {
	.img_nos {
		margin-top: 30px;
	}
	.img_nos > img {
		width: 100%
	}
}
.ico_nosotros {
	color: #2dc997;
	font-size: 26px;
	border-radius: 50%;
	border: 2px solid;
	padding: 14px;
	float: left;
	width: 70px;
	height: 70px;
	text-align: center;
}
.cont_nosotros{
	margin-left:80px; 
}


/*==================/  # Parallax 1  /==================*/
.parallax-1 {
	width: 100%;
	padding: 50px 0;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/parallax-1.jpg) center / cover fixed;
	color: white;
}


/*==================/  # Services  /==================*/
#servicios {
	text-align: center;
	margin: 80px 0;
}
.header_ser {
	margin-bottom: 80px;
}
#servicios .row > div {
	max-width: 380px;
	margin: 0 auto;
	margin-bottom: 50px;
}
#servicios .box {
	padding: 10px;
	padding-top: 50px;
	text-align: center;
	border: 2px solid #e6e6e6;
	border-radius: 10px;
	height: 100%;
	position: relative;
	background: #fafafa;
	transition: all ease .5s;
}
#servicios .icon {
	position: absolute;
	top: 0;
	left: 50%;
	border-radius: 50%;
	display: inline-block;
	border: 6px solid #fff;
	transform: translate(-50%, -50%);
}
#servicios .icon span {
	display: inline-block;
	background: #2dc997;
	color: #fff;
	border: 2px solid #2dc997;
	padding: 16px;
	border-radius: 50%;
	transition: all ease .5s;
	font-size: 24px;
	width: 72px;
	height: 72px;
}
#servicios .box:hover {
	border: 2px solid #2dc997;
}
#servicios .box:hover .icon span {
	color: #2dc997;
	background: #fff;
}
#servicios .title {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
#servicios .title {
	color: #111;
	text-decoration: none;
}
#servicios .description {
	font-size: 14px;
	line-height: 24px;
}


/*==================/  # Parallax 2  /==================*/
.parallax-2 {
	width: 100%;
	padding: 50px 0;
	background: url(../img/parallax-2.jpg) center / cover fixed;
	color: white;
}


/*==================/  # Team  /==================*/
#team {
	text-align: center;
	margin: 80px 20px;
}
#team .title{
	margin-bottom: 60px;
}
@media (max-width: 575px) {
	#team .perfil{
		margin-top: 20px;
	}
}
@media (min-width: 576px) {
	#team .perfil.mt{
		margin-top: 150px;
	}
}
#team figure img {
	width: 100%;
	max-width: 255px;
	border-radius: 50%;
}
#team .description{
	color: #777;
}


/*==================/  # Contact Us  /==================*/
#contactanos {
	text-align: center;
	background: #f7f7f7;
	padding: 20px;
}
.header_cont {
	margin: 50px auto;
}
#form_cont {
	margin: 0 auto;
	text-align: left;
}
.inputs {
	padding: 20px 0;
}
.inputs > label {
	padding: 0;
	text-align: center;
}
#contactanos textarea {
	max-height: 200px;
	min-height: 100px;
}
#contactanos button {
	background: #e3e3e3;
	transition: all 0.2s;
}
#contactanos button:hover {
	background: #343b40;
	color: white;
}
#contactanos button:focus,
#contactanos input:focus,
#contactanos textarea:focus {
	box-shadow: none;
    border: 1px solid #ced4da;
}
#contactanos .icon {
	font-size: 40px;
	padding-top: 7px;
}


/*==================/  # Footer  /==================*/
footer {
	background: #343b40;
	padding: 27px 0;
	color: #fff;
}
footer .container {
	max-width: 100%;
	padding: 0 30px;
}
footer span {
	font-weight: bold;
}
.copyright {
	padding-top: 13px;
	font-size: 14px;
	text-align: left;
}
.redes_sociales {
	font-size: 30px;
	text-align: right;
}
.redes_sociales a svg {
	color: white;
	transition: all 0.5s;
	transform: rotate(0deg);
}
.redes_sociales a:hover svg {
	transform: rotate(360deg);
}

@media (max-width: 768px) {
	.copyright {
		text-align: center;
	}
	.redes_sociales {
		text-align: center;
	}
}