/*--------------------------------------------------------------
	Styles Tree
----------------------------------------------------------------
# Styles Generales
# Preloader
# Header
	## Logo
	## Hero Content
# About Us
# Products
# Contact Us
# Whatsapp
# Footer
--------------------------------------------------------------*/


/*==================/  # Styles Generales  /==================*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #f5f5f5;
}
h2 {
	font-weight: normal;
	font-size: 40px;
	font-family: sans-serif;
	color: #4db5ab;
}

/*==================/  # Preloader  /==================*/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #607D8B;
	z-index: 10;
}
#preloader > img {
	width: 70px;
}


/*==================/  # Header  /==================*/
header {
	position: relative;
	width: 100%;
	background: #f5f5f5;
	overflow: hidden;
}

/*======/  ## Logo  /======*/
.main_menu {
	width: 100%;
	padding: 10px 30px;
	color: #fff;
	font-family: sans-serif;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.main_menu > .logo {
	float: left;
	width: 100px;
}
.main_menu > .logo > img {
	width: 100%;
	margin-left: -8px;
}
@media (max-width: 575px) {
	.main_menu > .logo {
		display: none;
	}
}

/*======/  ## Hero Content  /======*/
.hero_content {
	height: 700px;
	width: 100vw;
	color: #fff;
}
.hero_content > div{
	position: relative;
	height: 400px;
	width: 100%;
	margin: 0 auto;
	background: url(../img/hero/pared.jpg);
	background-size: 200px;
	margin-bottom: 300px;
}
.hero_content .area1 {
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1;
	transition: all ease 1s;
}
.hero_content .area2 {
	position: absolute;
	bottom: 0;
	right: calc(50% - 250px);
	transform: translate(50%, 20px);
	z-index: 2;
	transition: all ease 1s;
}
.hero_content .area3 {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,50px);
	z-index: 3;
	transition: all ease 1s;
}
.hero_content .area4 {
	position: absolute;
	bottom: -100px;
	right: 50%;
	transform: translate(50%, 20px);
	z-index: 4;
	transition: all ease 1s;

}
.hero_content #modelo3 .area4 {
	bottom: -170px;
}
.hero_content > div > .borde{
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../img/hero/rodapie.jpg);
	height: 20px;
	width: 100%;
}

/* CLases para ocultar*/
.hero_content .hidden .area1 {
	top: -50%;
	left: 50%;
}
.hero_content .hidden .area2 {
	bottom: 0;
	right: -250px;
}
.hero_content .hidden .area3 {
	bottom: 0;
	left: -250px;
}
.hero_content .hidden .area4 {
	bottom: -100px;
	right: -500px;
}


/*==================/  # About Us  /==================*/
.about_us {
	padding: 40px 0;
	overflow: hidden;
}
.about_us p {
	font-size: 20px;
}
.about_us .row {
	justify-content: space-around;
	padding: 40px 0;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}
.about_us .row > div > img {
	border-radius: 10px;
	margin-bottom: 20px;
	transition: all ease .3s;
}
.about_us .row > div > img:hover {
	transform: rotate(-5deg) scale(1.05);
}


/*==================/  # Products  /==================*/
.products {
	padding: 40px 0;
	overflow: hidden;
}
.products .row {
	justify-content: space-around;
}
.products .product {
	background: #fff;
	border-radius: 5px;
	margin-bottom: 50px;
	overflow: hidden;
	box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
}
.product > img {
	width: 100%;
}
.product .content {
	padding: 20px;
}
.product p {
	margin: 0;
}
.product .name {
	font-size: 25px;
	font-weight: 500;
	color: #607D8B;
}
.product .price {
	color: #fff;
	padding: 5px 10px;
	border-radius: 20px;
	background: #8BC34A;
	display: inline-block;
	margin-top: 5px;
}


/*==================/  # Contact Us  /==================*/
.contact_us {
	padding: 40px 0;
	overflow: hidden;
	background: #ffffff;
	border-top: 2px solid #eaeaea;
	border-bottom: 2px solid #eaeaea;
}
.contact_us .row > div {
	margin: 0 auto;
}
.info_contact {
	margin-top: 40px;
}
.info_contact p {
	font-size: 20px;
	text-align: center;
}
.info_contact span.ico {
	color: #4db5ab;
	font-size: 35px;
	width: 45px;
	text-align: center;
	display: inline-block;
}

.form_contact input,
.form_contact textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 20px;
	color: #495057;
	border: 2px solid #ced4da;
}
.form_contact textarea {
	max-height: 150px;
	min-height: 150px;
}
.form_contact input:focus,
.form_contact textarea:focus,
.form_contact button {
	outline: none;
}
.form_contact button {
	padding: 5px 15px;
	background: #4caf50;
	color: white;
	border: 2px solid #4caf50;
	border-radius: 5px;
	transition: all ease .3s;
}
.form_contact button:hover {
	background: #8BC34A;
	border: 2px solid #8BC34A;
}


/*==================/  # Whatsapp  /==================*/
#whatsapp {
	position: fixed;
	right: 20px;
	bottom: 20px;
	height: 60px;
	width: 60px;
	background: #68da6d;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	z-index: 10;
	transition: all ease .3s;
}
#whatsapp.hidden {
	bottom: -100px;
}
#whatsapp > a {
	color: #fff;
	font-size: 43px;
}


/*==================/  # Footer  /==================*/
footer {
	background: #f5f5f5;
	padding: 35px 0;
}
.copyright {
	color: #607D8B;
	font-family: sans-serif;
	text-align: center;
	margin: 0;
}