/*==================/  # Header  /==================*/
header {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/header_2.jpg) center / cover;
}
/*======/  ## Hero Content  /======*/
.hero_content {
	height: 300px;
}


/*==================/  # Section 1  /==================*/
.section_1.about_us {
	padding: 80px 0;
	overflow: hidden;
}
.section_1.about_us .row {
	justify-content: center;
}
.section_1.about_us .row > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.section_1.about_us .row > div > img {
	margin-bottom: 20px;
	border-radius: 10px;
}
@media (max-width: 767px) {
	.section_1.about_us .row > div > img {
		display: block;
		max-width: 450px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}