/*==================/  # Header  /==================*/
header {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/header_3.jpg) center / cover;
}
/*======/  ## Hero Content  /======*/
.hero_content {
	height: 300px;
}


/*==================/  # Section 1  /==================*/
.section_1.maravillas {
	padding: 80px 0;
	overflow: hidden;
}
.section_1.maravillas .row {
	margin-bottom: 50px;
	justify-content: normal;
}
.section_1.maravillas .row > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.section_1.maravillas .row > div p {
	text-align: justify;
}
.section_1.maravillas .row > div.w-100 {
	height: 50px;
}
.section_1.maravillas .row > div > img {
	margin-bottom: 20px;
	border-radius: 10px;
}
@media (max-width: 767px) {
	.section_1.maravillas .row > div > img {
		display: block;
		max-width: 350px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}