/*==================/  # Header  /==================*/
header {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/header_4.jpg) center / cover;
}
/*======/  ## Hero Content  /======*/
.hero_content {
	height: 300px;
}


/*==================/  # Section 1  /==================*/
.contact_us .row {
	justify-content: center;
}
.contact-form input, .contact-form textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 20px;
	border-radius: 10px;
	border: 2px solid #a5d7a7;
	outline: none;
}
.contact-form textarea {
	min-height: 200px;
	max-height: 200px;
}
.contact-form button {
	padding: 5px 20px;
	background: #4CAF50;
	color: white;
	border: 2px solid #4CAF50;
	border-radius: 5px;
}